<div class="content-wrapper">
  <section class="content-header">
    <small>Home</small>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#"><i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
  </section>
  <section class="content">
    <!-- Default box -->
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title" class="text-center">
          <small>Change Password</small>
        </h3>

        <div class="box-tools pull-right">
          <button
            type="button"
            class="btn btn-box-tool"
            data-widget="collapse"
            data-toggle="tooltip"
            title=""
            data-original-title="Collapse"
          >
            <i class="fa fa-minus"></i>
          </button>
          <button
            type="button"
            class="btn btn-box-tool"
            data-widget="remove"
            data-toggle="tooltip"
            title=""
            data-original-title="Remove"
          >
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>

      <div class="box-body clearfix" style="background: #f4f6f9;">
        <form [formGroup]="changepasswordform" (ngSubmit)="updatePassword()">
          <div
            class="form-group row"
            [ngClass]="changepasswordform.valid ? 'validate' : 'form-group row'"
          >
            <label class="col-md-2">New Password Password:</label>

            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              class="form-control col-md-4"
              formControlName="NewPassword"
            />
            <div class="col-md-1">
              <mat-icon matSuffix (click)="hide = !hide"
                ><span class="fa fa-eye " aria-hidden="true"></span
              ></mat-icon>
            </div>
            <div
              *ngIf="f.NewPassword.touched && f.NewPassword.invalid"
              class="col-md-5"
            >
              <div
                class="alert alert-danger"
                *ngIf="f.NewPassword.errors.minlength"
              >
                <p>Password should be of minlength 7.</p>
              </div>
            </div>
          </div>
          <div
            class="form-group row"
            [ngClass]="changepasswordform.valid ? 'validate' : 'form-group row'"
          >
            <label class="col-md-2">Confirm Password:</label>

            <input
              matInput
              [type]="hide2 ? 'password' : 'text'"
              class="form-control col-md-4"
              formControlName="ConfirmPassword"
            />
            <div class="col-md-1">
              <mat-icon matSuffix (click)="hide2 = !hide2"
                ><span class="fa fa-eye " aria-hidden="true"></span
              ></mat-icon>
            </div>

            <div
              *ngIf="f.ConfirmPassword.touched && f.ConfirmPassword.invalid"
              class="col-md-5"
            >
              <div
                class="alert alert-danger"
                *ngIf="f.ConfirmPassword.errors.minlength"
              >
                <p>Password should be of minlength 7.</p>
              </div>

              <div
                *ngIf="f.ConfirmPassword.errors.confirmedValidator"
                class="alert alert-danger"
              >
                <p>Password and Confirm Password must be match.</p>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-info">
            Submit
          </button>

          <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
        </form>
      </div>
    </div>
    <!-- /.box -->
  </section>
</div>
