<div class="modal-header">
  <h4 class="modal-title">QR CODE</h4>

  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>
    <qrcode
      [qrdata]="myAngularxQrCode"
      [width]="256"
      [errorCorrectionLevel]="'M'"
      elementType="'img'"
    ></qrcode>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" type="button" (click)="downloadImage()">
    Submit
  </button>
</div>
