<div class="box-header with-border">
  <h3 class="box-title"><small>Customer</small></h3>
  <ul class="box-controls pull-right">
    <button
      class="btn btn-outline btn-primary"
      type="submit"
      (click)="addCustomer()"
      [style.margin-left]="'15px'"
    >
      Add Customer
    </button>
  </ul>
</div>

<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
<div class="box-body clearfix" style="background: #f4f6f9;">
  <div class="row">
    <div class="table-responsive">
      <table
        *ngIf="tableData"
        datatable="ng"
        [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger"
        class="display"
        style="width:100%"
        id="table2"
      >
        <thead>
          <tr>
            <th [style.display]="'none'">Customer ID</th>
            <th [style.display]="'none'">SNO</th>
            <th>Bank Account Number</th>
            <th>Loan Approval Code</th>
            <th>Bank Branch Code</th>
            <th>Customer Name</th>
            <th>Customer Email</th>
            <th>Customer Contact</th>
            <th>Customer Adress</th>
            <th>Customer City</th>
            <th [style.display]="'none'">Customer State</th>
            <th>Enable/Disable</th>
            <th>Verification Status</th>
            <th>Verification TS</th>
            <th [style.display]="'none'">Loan Id</th>

            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of tableData; index as i">
            <td [style.display]="'none'">{{ customer.Customer_ID }}</td>
            <td [style.display]="'none'">{{ i + 1 }}</td>
            <td>{{ customer.Bank_Account_Number }}</td>
            <td>{{ customer.Loan_Approval_ID }}</td>
            <td>{{ customer.Bank_Branch_Code }}</td>

            <td>{{ customer.Customer_Name }}</td>
            <td>{{ customer.Customer_Email_ID }}</td>
            <td>{{ customer.Mobile_Number }}</td>
            <td>{{ customer.Customer_Address }}</td>
            <td>{{ customer.Customer_City }}</td>
            <td [style.display]="'none'">{{ customer.Customer_State }}</td>

            <td>
              <button
                id="lock"
                type="button"
                class="btn btn-success btn-outline"
                *ngIf="customer.Enable_Disable_FG === 'n'; else elseBlock2"
              >
                Enabled
              </button>
            </td>
            <ng-template #elseBlock2>
              <button
                id="lock"
                type="button"
                class="btn btn-danger btn-outline"
              >
                Disabled
              </button>
            </ng-template>

            <td>
              <button
                id="verify"
                type="button"
                class="btn btn-success btn-outline"
                *ngIf="customer.Account_Verify_Status === 'y'; else elseBlock3"
              >
                Verified
              </button>
            </td>
            <ng-template #elseBlock3>
              <button
                id="verify"
                type="button"
                class="btn btn-danger btn-outline"
              >
                Invalid
              </button>
            </ng-template>
            <td [style.display]="'none'">{{ customer.Loan_Approval_ID }}</td>
            <td>{{ customer.Account_Verify_TS }}</td>

            <td>
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-info btn-outline qrcode"
                  id="qrcode"
                  style="margin-right:16px;"
                  title="Generate QrCode"
                >
                  <span
                    class="glyphicon glyphicon-qrcode"
                    aria-hidden="true"
                  ></span>
                </button>
                <button
                  type="button"
                  class="btn btn-info btn-outline edit"
                  id="edit"
                  style="margin-right:16px;"
                  title="View/Edit"
                >
                  <span
                    class="glyphicon glyphicon-eye-open"
                    aria-hidden="true"
                  ></span>
                </button>
                <button
                  type="button"
                  class="btn btn-info btn-outline remove"
                  id="del"
                  style="margin-right:16px;"
                  title="Delete"
                >
                  <span
                    class="glyphicon glyphicon-trash"
                    aria-hidden="true"
                  ></span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- /.box-body -->
