<div class="box-header with-border">
  <h3 class="box-title">
    <small>{{ title }}</small>
  </h3>

  <ul class="box-controls pull-right">
    <button
      class="btn btn-primary btn-outline"
      (click)="addOutletUser()"
      [style.margin-left]="'15px'"
    >
      Add {{ title }}
    </button>
    <button class="btn btn-primary btn-outline" (click)="backClicked()">
      Go Back
    </button>
  </ul>
</div>
<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
<div class="box-body clearfix" style="background: #f4f6f9;">
  <div class="row">
    <div class="table-responsive">
      <table
        *ngIf="tableData"
        datatable="ng"
        [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger"
        class="display"
        style="width:100%"
        id="tableoutlet"
      >
        <thead>
          <tr>
            <th [style.display]="'none'">outletID</th>
            <th [style.display]="'none'">outletUserID</th>

            <th>SNO</th>
            <th>User Login Id</th>
            <th>Name</th>
            <th [style.display]="'none'">Outlet Name</th>

            <th>Email</th>
            <th>Mobile No</th>

            <th>Enable/Disable</th>

            <th>Last Login</th>
            <th>Pwd Chaged</th>
            <th [style.display]="'none'">IP</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let outletuser of tableData; index as i">
            <td [style.display]="'none'">{{ outletuser.Outlet_ID }}</td>
            <td [style.display]="'none'">{{ outletuser.Outlet_User_ID }}</td>

            <td>{{ i + 1 }}</td>
            <td>{{ outletuser.Outlet_Login_ID }}</td>
            <td>{{ outletuser.User_Name }}</td>

            <td [style.display]="'none'">{{ outletuser.Outlet_Name }}</td>
            <td>{{ outletuser.User_Email }}</td>
            <td>{{ outletuser.User_Mobile }}</td>
            <td>
              <button
                id="lock"
                type="button"
                class="btn btn-success btn-outline"
                *ngIf="outletuser.Enable_Disable_FG === 'n'; else elseBlock2"
              >
                Enabled
              </button>
            </td>
            <ng-template #elseBlock2>
              <button
                id="lock"
                type="button"
                class="btn btn-danger btn-outline"
              >
                Disabled
              </button>
            </ng-template>

            <td>{{ outletuser.Last_Login_TS }}</td>
            <td>{{ outletuser.Last_Pwd_Change_TS }}</td>
            <td [style.display]="'none'">{{ outletuser.IP }}</td>

            <td>
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-info btn-outline edit"
                  id="edit"
                  style="margin-right:16px;"
                  title="edit"
                >
                  <span
                    class="glyphicon glyphicon-eye-open"
                    aria-hidden="true"
                  ></span>
                </button>
                <button
                  type="button"
                  class="btn btn-info btn-outline remove"
                  id="del"
                  style="margin-right:16px;"
                  title="delete"
                >
                  <span
                    class="glyphicon glyphicon-trash"
                    aria-hidden="true"
                  ></span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- /.box-body -->
