<header class="main-header">
  <!-- Logo -->

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
      <img
        class="rounded"
        src="./../../../assets/mega-bank-ltd34.png"
        height="70px"
        style="margin-top: -20px"
      />
      <div class="ulogo">
        <span
          style="margin-left: 30px;
        color: whitesmoke;
        font-weight: 1000;"
          >KRISHI SMART PAYMENT</span
        >
      </div>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Notifications -->
        <li class="dropdown notifications-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="mdi mdi-face"></i>
          </a>
          <ul class="dropdown-menu scale-up">
            <li class="header bg-primary text-white">
              You have notifications
            </li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu inner-content-div">
                <li>
                  <a href="#">
                    <i class="fa fa-users text-aqua"></i>Welcome Admin,Have a
                    good day
                  </a>
                </li>

                <!-- <li>
                  <a href="#">
                    <i class="fa fa-shopping-cart text-green"></i> In gravida
                    mauris et nisi
                  </a>
                </li> -->

                <li class="footer" style="float:right;">
                  <button class="btn btn-outline-primary" (click)="logout()">
                    Logout
                  </button>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
