<div class="content-wrapper">
  <section class="content">
    <!-- Default box -->
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title" class="text-center">
          <small>Search Merchant User</small>
        </h3>

        <div class="box-tools pull-right">
          <button
            type="button"
            class="btn btn-box-tool"
            data-widget="collapse"
            data-toggle="tooltip"
            title=""
            data-original-title="Collapse"
          >
            <i class="fa fa-minus"></i>
          </button>
          <button
            type="button"
            class="btn btn-box-tool"
            data-widget="remove"
            data-toggle="tooltip"
            title=""
            data-original-title="Remove"
          >
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>

      <div class="box-body clearfix" style="background: #f4f6f9;">
        <div class="row">
          <label class="col-md-2">Mercahnt Login ID :</label>

          <input
            id="typeahead-basic"
            type="text"
            class="form-control col-md-4"
            [(ngModel)]="model"
            #myfilter
          />
          <label class="col-md-2">Enter more than two characters</label>
          <hr />
          <!--  <pre class="col-md-4">Model: {{ model | json }}</pre> -->
        </div>
        <div class="row">
          <div class="table table-responsive table-hover w-p100 dataTable">
            <table
              *ngIf="tableData"
              datatable="ng"
              [dtOptions]="dtOptions"
              [dtTrigger]="dtTrigger"
              class="display"
              style="width:100%"
              id="tableMerchantUsersearch"
            >
              <thead>
                <tr>
                  <th [style.display]="'none'">ID</th>
                  <th [style.display]="'none'">BID</th>
                  <th>SNO</th>
                  <th>Merchant Login ID</th>
                  <th>User ID</th>

                  <th>Merchant</th>
                  <th>Default ISO</th>
                  <th>Default MDX Limit</th>
                  <th>Last Login</th>
                  <th>IS Blocked?</th>
                  <th>Lock/Unlock</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let merchantUser of tableData; index as i">
                  <td [style.display]="'none'">
                    {{ merchantUser.agentCode }}
                  </td>
                  <td [style.display]="'none'">
                    {{ merchantUser.agent_branch_code }}
                  </td>
                  <td>{{ i + 1 }}</td>

                  <td>{{ merchantUser.User_login_Id }}</td>
                  <td>{{ merchantUser.agent_user_id }}</td>
                  <td>{{ merchantUser.branch }}</td>
                  <td>{{ merchantUser.default_iso }}</td>
                  <td>{{ merchantUser.default_limit }}</td>
                  <td>{{ merchantUser.last_login }}</td>
                  <td
                    *ngIf="
                      merchantUser.lock_status === null ||
                        merchantUser.lock_status === 'n';
                      else elseBlock
                    "
                    [ngClass]="'bg-success'"
                  >
                    No
                  </td>
                  <ng-template #elseBlock
                    ><td [ngClass]="'bg-danger'">
                      YES
                    </td></ng-template
                  >
                  <td>
                    <button
                      id="lock"
                      type="button"
                      class="btn btn-danger"
                      *ngIf="
                        merchantUser.lock_status === null ||
                          merchantUser.lock_status === 'n';
                        else elseBlock2
                      "
                    >
                      LOCK
                    </button>
                  </td>
                  <ng-template #elseBlock2>
                    <button id="lock" type="button" class="btn btn-success">
                      UNLOCK
                    </button>
                  </ng-template>
                  <td>
                    <div class="btn-group">
                      <button
                        id="view"
                        type="button"
                        class="btn btn-info view"
                        style="margin-right:16px;"
                      >
                        <span class="fa fa-eye " aria-hidden="true"></span>
                      </button>
                      <button
                        id="edit"
                        type="button"
                        class="btn btn-info edit"
                        style="margin-right:16px;"
                      >
                        <span class="fa fa-edit" aria-hidden="true"></span>
                      </button>
                      <button
                        id="del"
                        type="button"
                        class="btn btn-info remove"
                        style="margin-right:16px;"
                      >
                        <span class="fa fa-remove" aria-hidden="true"></span>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- /.box -->
  </section>
</div>
