<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar" style="background-color: #193043">
  <!-- sidebar -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="ulogo">
        <a routerLink="" routerLinkActive="active">
          <!-- logo for regular state and mobile devices -->
          <span class="text-light"><b>KRISHI SMART </b>Payment</span>
        </a>
      </div>
      <div class="block-content block-content-full text-center"></div>
      <br />
      <br />
      <!--  <div class="image">
        <img
          src="../../../assets/images/user2-160x160.jpg"
          class="rounded-circle"
          alt="User Image"
        />
      </div> -->
      <div class="info text-light">
        <a
          href="#"
          class="link text-light"
          data-toggle="tooltip"
          title=""
          data-original-title="Settings"
          ><i class="ion ion-gear-b"></i
        ></a>
        <a
          href="#"
          class="link text-light"
          data-toggle="tooltip"
          title=""
          data-original-title="Email"
          ><i class="ion ion-android-mail"></i
        ></a>
        <a
          href="#"
          class="link text-light"
          data-toggle="tooltip"
          title=""
          data-original-title="Logout"
          ><i class="ion ion-power"></i
        ></a>
      </div>
    </div>
    <!-- sidebar menu -->
    <ul class="sidebar-menu tree" data-widget="tree">
      <!--  <li class="treeview active">
        <a href="#">
          <i class="fa fa-dashboard"></i>
          <span>Welcome</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="active">
            <a routerLink="page1" routerLinkActive="active">Page1 </a>
          </li>
          <li><a routerLink="page2" routerLinkActive="active">Page2</a></li>
        </ul>
      </li> -->

      <li class="active treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i>
          <span>SETUP</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="customer" routerLinkActive="active">Customer</a>
          </li>
          <li>
            <a routerLink="vendor" routerLinkActive="active">Vendor</a>
          </li>
          <li>
            <a routerLink="categories" routerLinkActive="active">Categories</a>
          </li>
        </ul>
        <!--      <ul class="treeview-menu">
          <li>
            <a routerLink="mdxDefault" routerLinkActive="active"
              >MDX Defaults</a
            >

            <a routerLink="company" routerLinkActive="active"
              >Merchant Detail</a
            >
            <a routerLink="branch" routerLinkActive="active">Branch</a>
          </li>
        </ul> -->
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-calculator"></i>
          <span>Transaction</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i>
          </span>
        </a>

        <ul class="treeview-menu">
          <li>
            <a routerLink="report" routerLinkActive="active">Report</a>
          </li>
        </ul>
      </li>
      <!--  <li class="treeview">
        <a href="#">
          <i class="fa fa-bars"></i>
          <span>User Menu</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i>
          </span>
        </a>

        <ul class="treeview-menu">
          <li>
            <a routerLink="changePassword" routerLinkActive="active"
              >Change Password</a
            >
            <a routerLink="getUsers" routerLinkActive="active">Users</a>

              <a routerLink="getLockedMerchant" routerLinkActive="active"
              >Locked Merchant Users</a
            >
            <a routerLink="searchMerchant" routerLinkActive="active"
              >Search Merchant User</a
            >
            <a routerLink="getUserRoles" routerLinkActive="active"
              >User Role Detail</a
            >
          </li>
        </ul>
      </li> -->

      <!--   <li class="treeview">
        <a href="#">
          <i class="fa fa-bars"></i>
          <span>EXTRA</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i>
          </span>
        </a>
      </li> -->
    </ul>
  </section>
  <!-- <div
    class="sidebar-background"
    style="background-image: url(../../../assets/images/sidebar-bg/08.jpg);"
  ></div> -->
</aside>
