<!-- <div class="box-header with-border">
                    <h3 class="box-title">{{ title }}</h3>
                    <h6 class="box-subtitle">List Merchant {{ title }}</h6>
                  </div> -->
<div class="box-header with-border">
  <h3 class="box-title"><small>User Roles</small>List</h3>

  <div class="box-tools pull-right">
    <button
      type="button"
      class="btn btn-box-tool"
      data-widget="collapse"
      data-toggle="tooltip"
      title=""
      data-original-title="Collapse"
    >
      <i class="fa fa-minus"></i>
    </button>
    <button
      type="button"
      class="btn btn-box-tool"
      data-widget="remove"
      data-toggle="tooltip"
      title=""
      data-original-title="Remove"
    >
      <i class="fa fa-times"></i>
    </button>
  </div>
</div>
<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
<!-- /.box-header -->
<div class="box-body">
  <div class="table-responsive">
    <table
      *ngIf="tableData"
      datatable="ng"
      [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"
      class="display"
      style="width:100%"
      id="tableUserRoles"
    >
      <thead>
        <tr>
          <th>UserID</th>
          <th>Role Name</th>
          <th>Role Type</th>
          <th>Privilege</th>

          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userRole of tableData; index as i">
          <td>{{ userRole.role_id }}</td>

          <td>{{ userRole.role_name }}</td>
          <td *ngIf="userRole.role_type === 'a'">
            Admin
          </td>
          <td *ngIf="userRole.role_type === 'c'">
            Customer
          </td>
          <td *ngIf="userRole.role_type === 's'">
            Merchant
          </td>

          <td>
            <button
              id="privi"
              type="button"
              class="btn btn-primary btn-outline"
            >
              Privilege
            </button>
          </td>

          <td>
            <div class="btn-group">
              <button
                id="del"
                type="button"
                class="btn btn-info btn-outline remove"
                style="margin-right:16px;"
              >
                <span class="fa fa-remove" aria-hidden="true"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- /.box-body -->
