<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Dashboard
      <small>Page1</small>
    </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#"><i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="breadcrumb-item active">page1</li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <h1>WELCOME TO PAGE!</h1>
        <button class="btn btn-primary" (click)="getCookie()">COOKIE</button
        ><br />
        <button class="btn btn-primary" (click)="getdata()">
          get data</button
        ><br />
        <button class="btn btn-primary" (click)="setCookie()">
          SET COOKIE
        </button>
        <button class="btn btn-primary" (click)="removeCookie()">
          REMOVE COOKIE
        </button>
        <button class="btn btn-primary" (click)="allCookie()">
          All COOKIE
        </button>
      </div>
    </div>
  </section>
</div>
