<!-- <div class="box-header with-border">
                  <h3 class="box-title">{{ title }}</h3>
                  <h6 class="box-subtitle">List Merchant {{ title }}</h6>
                </div> -->
<div class="box-header with-border">
  <h3 class="box-title"><small>User Menu</small>{{ userLoginId }}</h3>

  <div class="box-tools pull-right">
    <button
      type="button"
      class="btn btn-box-tool"
      data-widget="collapse"
      data-toggle="tooltip"
      title=""
      data-original-title="Collapse"
    >
      <i class="fa fa-minus"></i>
    </button>
    <button
      type="button"
      class="btn btn-box-tool"
      data-widget="remove"
      data-toggle="tooltip"
      title=""
      data-original-title="Remove"
    >
      <i class="fa fa-times"></i>
    </button>
  </div>
</div>
<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
<!-- /.box-header -->
<div class="box-body">
  <div class="table">
    <form [formGroup]="usermenuForm" (ngSubmit)="submitUsermenu()">
      <section>
        <h4>
          Setup

          <small
            ><span class="badge badge-secondary"
              ><button class="btn btn-outline btn-primary" type="button">
                All
              </button></span
            ></small
          >
        </h4>

        <table
          *ngIf="tableData"
          [dtOptions]="dtOptions"
          datatable="ng"
          [dtTrigger]="dtTrigger"
          class="table display nowrap margin-top-10 no-footer"
          style="width:100%"
          id="tablesetup"
        >
          <tbody>
            <tr class="row">
              <div *ngFor="let setup of tableData; index as i" class="col-md-3">
                <td
                  width="34%"
                  *ngIf="setup.main_menu === 'Setup'"
                  style="display: inline;border: 0em"
                >
                  <mat-checkbox
                    [checked]="setup.Rights === 0 ? false : true"
                    [value]="setup.sno"
                    (change)="onCheckBoxChange($event)"
                  >
                  </mat-checkbox>
                  {{ setup.function_name }}
                </td>
              </div>
            </tr>
          </tbody>
        </table>
      </section>
      <br />

      <section>
        <h4>
          User Menu

          <small
            ><span class="badge badge-secondary"
              ><button class="btn btn-outline btn-primary" type="button">
                All
              </button></span
            ></small
          >
        </h4>

        <table
          *ngIf="tableData"
          [dtOptions]="dtOptions"
          datatable="ng"
          [dtTrigger]="dtTrigger"
          class="table display nowrap margin-top-10 no-footer"
          style="width:100%"
          id="tableUSermenu"
        >
          <tbody>
            <tr class="row">
              <div *ngFor="let usermenu of tableData; index as i">
                <td
                  class="col-md-5"
                  *ngIf="usermenu.main_menu === 'User Menu'"
                  style="display: inline;border: 0em"
                >
                  <mat-checkbox
                    [checked]="usermenu.Rights === 0 ? false : true"
                    [value]="usermenu.sno"
                    (change)="onCheckBoxChange($event)"
                  >
                  </mat-checkbox>
                  {{ usermenu.function_name }}
                </td>
              </div>
            </tr>
          </tbody>
        </table>
      </section>
      <br />
      <section>
        <h4>
          Activity

          <small
            ><span class="badge badge-secondary"
              ><button class="btn btn-outline btn-primary" type="button">
                All
              </button></span
            ></small
          >
        </h4>

        <table
          *ngIf="tableData"
          [dtOptions]="dtOptions"
          datatable="ng"
          [dtTrigger]="dtTrigger"
          class="table display nowrap margin-top-10 no-footer"
          style="width:100%"
          id="tableActivity"
        >
          <tbody>
            <tr class="row">
              <div
                *ngFor="let activity of tableData; index as i"
                class="col-md-3"
              >
                <td
                  *ngIf="activity.main_menu === 'Activity'"
                  style="display: inline;border: 0em"
                >
                  <mat-checkbox
                    [checked]="activity.Rights === 0 ? false : true"
                    [value]="activity.sno"
                    (change)="onCheckBoxChange($event)"
                  >
                  </mat-checkbox>
                  {{ activity.function_name }}
                </td>
              </div>
            </tr>
          </tbody>
        </table>
      </section>

      <br />
      <section>
        <h4>
          Reports

          <small
            ><span class="badge badge-secondary"
              ><button class="btn btn-outline btn-primary" type="button">
                All
              </button></span
            ></small
          >
        </h4>

        <table
          *ngIf="tableData"
          [dtOptions]="dtOptions"
          datatable="ng"
          [dtTrigger]="dtTrigger"
          class="table display nowrap margin-top-10 no-footer"
          style="width:100%"
          id="tableReport"
        >
          <tbody>
            <tr class="row">
              <div *ngFor="let report of tableData; index as i">
                <td
                  class="col-md-5"
                  *ngIf="report.main_menu === 'Reports'"
                  style="display: inline;border: 0em"
                >
                  <mat-checkbox
                    [checked]="report.Rights === 0 ? false : true"
                    [value]="report.sno"
                    (change)="onCheckBoxChange($event)"
                  >
                  </mat-checkbox>
                  {{ report.function_name }}
                </td>
              </div>
            </tr>
          </tbody>
        </table>
      </section>

      <button class="btn btn-outline btn-primary" type="submit">
        Submit
      </button>
    </form>
  </div>
  <!-- /.box -->
</div>
