<div class="row">
  <div class="col-xl-3 col-md-6 col-12">
    <div class="info-box border-light">
      <span class="info-box-icon bg-info text-white"
        ><i class="ion ion-stats-bars"></i
      ></span>

      <div class="info-box-content">
        <span class="info-box-number">90</span>
        <span class="info-box-text">Transactions</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <div class="col-xl-3 col-md-6 col-12">
    <div class="info-box border-light">
      <span class="info-box-icon bg-success text-white"
        ><i class="ion ion-person-stalker"></i
      ></span>

      <div class="info-box-content">
        <span class="info-box-number">30</span>
        <span class="info-box-text">Farmerss</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <div class="col-xl-3 col-md-6 col-12">
    <div class="info-box border-light">
      <span class="info-box-icon bg-info text-white"
        ><i class="ion ion-bag"></i
      ></span>

      <div class="info-box-content">
        <span class="info-box-number">10</span>
        <span class="info-box-text">Users</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <div class="col-xl-3 col-md-6 col-12">
    <div class="info-box border-light">
      <span class="info-box-icon bg-success text-white"
        ><i class="ion ion-person-stalker"></i
      ></span>

      <div class="info-box-content">
        <span class="info-box-number">20</span>
        <span class="info-box-text">Vendors</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
</div>

<div class="box-body clearfix" style="background: #f4f6f9;">
  <h3>Quick View</h3>

  <div class="row">
    <div class="col-12">
      <p>Outlet Login ID :</p>
      <input type="text" class="form-control col-md-4" /><br />
      <button type="button" class="btn btn-default btn-lrg ajax">
        <i class="fa fa-search"></i>Search
      </button>
    </div>
  </div>
</div>

<!-- /.box-body -->
<div class="box-footer">
  <p>{{ dateToday | date }}</p>
</div>
